<article class="clicked-reminder">
  {{#if isEditing}}

  <form class="edit-reminder" {{action 'saveEdited' model on="submit"}}>
    <label>
      Title
      {{input class="edit-title-input" value=model.title}}
    </label>
    <label>
      Notes
      {{input class="edit-notes-input" value=model.notes}}
    </label>
    <label>
      Date
      {{input type="date" class="edit-date-input" value=model.date}}
    </label>
    <button class="edit-reminder-save--submit">Save</button>
  </form>

  {{else}}

  <section class="clicked-reminder">
    <h1 class="active-reminder-title">{{model.title}}</h1>
    <p class="active-reminder-date">{{model.date}}</p>
    <p class="active-reminder-notes">{{model.notes}}</p>
    <button class="edit-reminder" {{ action 'editReminder'}}>Edit reminder.</button>
  </section>

  {{/if}}
</article>
