<article class="clicked-reminder">
  {{#if this.isEditing}}

  <form class="edit-reminder" {{action 'checkForUnsavedChanges' model on="change"}}>
    <label>
      Title
      {{input class="edit-title-input" value=model.title}}
    </label>
    <label>
      Notes
      {{input class="edit-notes-input" value=model.notes}}
    </label>
    <label>
      Date
      {{input type="date" class="edit-date-input" value=model.date}}
    </label>
    <button class="edit-reminder-save--submit" {{action 'saveEdited' model on="click"}}>Save</button>
    <button class="revert-button" {{action 'undoChanges' model on="click"}}>Revert to saved reminder.</button>
    <button class="done-editing-button" {{action 'editReminder' on="click"}}>Done editing.</button>
  </form>

  {{else}}

  <section class="clicked-reminder">
    <h1 class="active-reminder-title">{{model.title}}</h1>
    <p class="active-reminder-date">{{model.date}}</p>
    <p class="active-reminder-notes">{{model.notes}}</p>
    <button class="edit-reminder" {{ action 'editReminder'}}>Edit reminder.</button>
    <button class="remove-reminder" {{action 'remove' model on="click"}}>Remove</button>
  </section>

  {{/if}}
</article>
